/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #D22108;
  font-weight: bold;
}

.alignCentre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mt-3 {
  margin-top: 3rem;
}

.createBtn {
  position: fixed;
  bottom: 80px;
  right: 0px;
  transform: translateX(-50%);
  background-color: #D22108;
}

.createBtn:hover {
  background-color: #B31B07;
}

@media (min-width: 600px) {
  .createBtn {
      right: 30px;
  }
}

.notifications-icon {
  color: #D22108;
  width: 10px;
  top: 0;
  display: block;
  right: 0;
}

.card {
  background-color: #FFF3F3;
  border-radius: 10px;
  border: 1px solid #D22108;
  margin: 0.5rem;
  box-shadow: none;
}

.card-media {
  height: 70px;
  margin: auto;
  width: auto;
}

.card-title {
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #D22108;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 10px;
}

.details-title {
  color: #D22108;
  
  font-size: 1.4em;
  margin-bottom: 0;
  line-height: 1.4em;
}

.card-text {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  margin-top: 5px;
  color: black;
}

.filter-button {
  display: flex;
  border-radius: 20px;
  text-transform: none;
  align-items: center;
  background-color: #D22108;
  border: none;
}

.proximity {
  color: #6F6F6F;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: normal;
  font-size: 0.9em;
  float: left;
}

.add-button {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}

.accept-button {
  background-color: #D22108;
  padding: 5% 10%;

}

.username {
  margin: 0.5rem 0 0 5px;
  padding: 1px 6px;
  align-items: center;
  border: solid #FFF3F3;
  background-color: #FFF3F3;
  color: #D22108;
  border-radius: 20px;
  width: fit-content;
}


.empty-feed {
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.empty-profile-requests {
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 10%;
}

.name {
  color: #D22108;
  font-weight: bold;
  font-size: 1.8em;
  margin: 5% 0%;
}

.profile-username {

  padding: 1px 6px;
  align-items: center;
  border: solid #D22108;
  background-color: #D22108;
  color: #FFF3F3;
  border-radius: 20px;
} */